<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decentralized Vehicle Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Decentralized Vehicle Registration</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li class="active"><a href="/login">Login</a></li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Login form</h2> <br/><br/>
    <form action="/otpForm" method="POST">
    <div class="form-group">
      <label for="otp">Enter your OTP:</label>
      <input type="number" class="form-control" id="otp" placeholder="Enter OTP" name="otp">
    </div>
    <button type="submit" class="btn btn-primary btn-login" id="login">Login</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>